<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <display-name>Mac2.0</display-name>
    <distributable/>
    <servlet>
        <servlet-name>Download</servlet-name>
        <servlet-class>rc.so.servlets.Download</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>rc.so.servlets.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Operazioni</servlet-name>
        <servlet-class>rc.so.servlets.Operazioni</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Query</servlet-name>
        <servlet-class>rc.so.servlets.Query</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Edit</servlet-name>
        <servlet-class>rc.so.servlets.Edit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Operazioni_test</servlet-name>
        <servlet-class>rc.so.servlets.Operazioni_test</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Print</servlet-name>
        <servlet-class>rc.so.servlets.Print</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Fileview</servlet-name>
        <servlet-class>rc.so.servlets.Fileview</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Report</servlet-name>
        <servlet-class>rc.so.servlets.Report</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReportCentrale</servlet-name>
        <servlet-class>rc.so.servlets.ReportCentrale</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Time</servlet-name>
        <servlet-class>rc.so.servlets.Time</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Gestione</servlet-name>
        <servlet-class>rc.so.servlets.Gestione</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Pdf</servlet-name>
        <servlet-class>rc.so.servlets.Pdf</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Scan</servlet-name>
        <servlet-class>rc.so.servlets.Scan</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Download</servlet-name>
        <url-pattern>/Download</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Operazioni</servlet-name>
        <url-pattern>/Operazioni</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Query</servlet-name>
        <url-pattern>/Query</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Edit</servlet-name>
        <url-pattern>/Edit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Operazioni_test</servlet-name>
        <url-pattern>/Operazioni_test</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Print</servlet-name>
        <url-pattern>/Print</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Fileview</servlet-name>
        <url-pattern>/Fileview</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Report</servlet-name>
        <url-pattern>/Report</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReportCentrale</servlet-name>
        <url-pattern>/ReportCentrale</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Time</servlet-name>
        <url-pattern>/Time</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Gestione</servlet-name>
        <url-pattern>/Gestione</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Pdf</servlet-name>
        <url-pattern>/Pdf</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Scan</servlet-name>
        <url-pattern>/Scan</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>4500</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
    <error-page>
        <error-code>500</error-code>
        <location>/page_500.html</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/page_404.html</location>
    </error-page>
    <error-page>
        <exception-type>java.lang.NullPointerException</exception-type>
        <location>/page_500.html</location>
    </error-page>
</web-app>
